# Virtual environment
venv/
.env/

# Compiled Python files
__pycache__/
*.pyc
*.pyo

# Logs and debug
*.log
*.out
*.err

# Database files
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# MacOS-specific files
.DS_Store

# Ignore system files
Thumbs.db

